[defaults]
inventory = ./inventory/dev/hosts.ini
roles_path = ./roles
host_key_checking = False
interpreter_python = auto_silent
result_format = yaml

# Automatically use the password file (replaces --ask-vault-password)
vault_password_file = ~/.ansible/.vault_pass


[inventory]
enable_plugins = host_list, script, auto, yaml, ini, amazon.aws.aws_ec2
