apiVersion: v1
kind: ConfigMap

metadata:
  name: grafana-dashboard-provider
  namespace: {{ grafana_namespace }}

  labels:
    grafana_dashboard: "1"

data:

  provider.yaml: |
    apiVersion: 1

    providers:

      - name: EduLearn
        folder: EduLearn
        type: file
        disableDeletion: false
        editable: true

        options:
          path: /var/lib/grafana/dashboards